body {
    background-color: #000;
    color: #fff;
}

header h1 {
    color: red; 
    font-size: 2.3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
    
    padding-bottom: 20px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}


main h1 {
    font-size: 1.5rem;
}

div {
    background-color: gray;
    padding-bottom: 15px;
}

header {
    display: flex;
    justify-content: center;
}

/*button {

}


