* {
  box-sizing: border-box;
}
body {
    background-color: #ccc;
}

.picDivs {
    width: 80%;
    
}


.scene {
  width: 200px;
  height: 260px;
  
  margin: 15px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  
}

.card.is-flipped {
  transform: rotateY(180deg);
  /*background-color: blue;
  border: 8px solid blue;
  border-radius: 15px;*/
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 45px;
 
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 9px solid yellow;
}

.card__face--front {
  background: red;
  backface-visibility: hidden;
  
 
 
}
.card__face--front p {
  text-transform: capitalize;
}

.card__face--back {
  background-color: blue;
  transform: rotateY(180deg); 
  backface-visibility: hidden;
  
}

.card__face--back p {
  color: #fff;
  text-transform: capitalize;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

p {
 color: black;
 margin: 0;
}

img {
    width:150px;
}

header {
    text-align: center;
    margin-top: 50px;

}