* {
  box-sizing: border-box;
}
body {
    background-image: url(../assets/images/pokemonlogo.png);
    background-color: rgb(213, 210, 214);
    background-repeat: no-repeat;
  background-size: 300px;
  background-position-x: 50%;
  background-position-y: 1%;
}




.scene {
  width: 100%;
  height: 300px;
  
  margin: 15px 0;
  perspective: 600px;
  
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  
}

.card.is-flipped {
  transform: rotateY(180deg);
  /*background-color: blue;
  border: 8px solid blue;
  border-radius: 15px;*/
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  
 
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  
  
}

.card__face--front {
  background: red;
  backface-visibility: hidden;
  border:9px solid rgb(236, 221, 3);
  line-height: 55px;
}
.card__face--front p {
  text-transform: capitalize;
}

.card__face--back {
  /* background-color: blue; */
  background-image:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url("../assets/images/pokemonback.jpg");
  
  background-size: 210px;
  
  transform: rotateY(180deg); 
  backface-visibility: hidden;
border:9px solid rgb(1, 1, 116);
line-height: 35px;
}

.card__face--back p {
  color: #000;
  text-transform: capitalize;
}
/* .card__face--back img {
  position: absolute;
  height: auto;
  width:auto;
} */

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3rem;
    justify-items: center;
    
}

p {
 color: black;
 margin: 0;
 padding: 0;
}

img {
    width:150px;
}

header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

header p {
  text-align: left;
  margin: 60px;
}

.card__face--back h5 {
  margin:0;
  padding:0rem 0 4rem 0;
  font-size: 1.5rem;
  font-weight: 700px;
}

.card__face--back p {
  font-size: 1.2rem;
  font-weight: 700px;
}


button {
  width: 170px;
  height: 65px;
  background-color:  rgb(36, 74, 150);
  color: #fff;
  font-size: 1.2rem;
  
  border-radius: 10px;
} 

button:hover {
  background-color: rgb(252, 239, 61);
  color: rgb(60, 95, 166);
  
}

#add {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.grass {
  background-color: #7AC74C;
}

.bug {
  background-color: #a6b91a;
}

.normal {
  background-color: #A8A77A;
}

.fire {
  background-color: #EE8130;
}

.poison {
  background-color: #a33EA1;
}

.electric {
  background-color: #F7D02C;
}

.water {
  background-color: #6390F0;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #c22e28;
}

.ground {
  background-color: #E2BF65;
}

.flying {
  background-color: #A98FF3;
}

.psychic {
  background-color: #f95587;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}

.fairy {
  background-color: #d685ad;
}

ul {
  font-size: 12px;
  line-height: 1.2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size:.9rem;

  
  
}

ul li {
  margin:0;
  
}

#page__title {
  padding-top: 4rem;
  color: rgb(2, 35, 105);
  font-size: 2.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
