body {
    background-color: #000;
    color: #fff;
}

header h1 {
    color: red; 
    font-size: 2.3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1.2fr));
    grid-gap: 3rem;
    text-align: justify;
    padding-bottom: 20px;
    text-align: center;
}






header {
    display: flex;
    justify-content: center;
}

/*button {

}


