body {
    background-color: #000;
    color: #fff;
}

header h1 {
    color: #ff511e; 
    font-size: 2.5rem;
    
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    

    padding-bottom: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}


header p {
    font-size: 1.2rem;
    margin-top: 0px;
}


header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div {
    width: 300px;
    line-height: 1.2rem;
    justify-self: center;
}

div p {
    line-height: 1.2rem;
}

h2 {
    color: #ff511e;
}

header img {
    width: 300px;
    align-self: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: #000;
    color: #fff;
    padding: 0.8rem;
  }
  
  footer p {
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }