* {
    margin: 0;
}



nav {
    display:flex;
    justify-content: flex-end;
    position:fixed;
    width: 100%;
    background-color: #a17033;
    color: #fff;
    height: 60px; 
    align-items: center; 
}


#navlist {
display: flex;
list-style-type: none; 
width: 300px;
justify-content: space-around;
padding-right: 20px; 
font-family: 'Roboto', sans-serif;
}

#navlist a {
    display: block;  
}
 a {
    text-decoration: none;
    color: #fff;
 }

 #navlist a:hover {
     color: #000; 
 }

li {
    font-size: 1.2rem; 
}

h1 {
    color: #fff;
    font-size: 2.6rem;
    
}
h2 {
    font-size: 1.4rem;
    
}


#welcome-section {
    background-color: #000;
    
    height: 100vh;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    
    color: #fff;
    
    font-family: 'Lato', sans-serif;

}

#projects {
text-align: center;  
padding-top: 7%; 
background-color: #eee;
background-image: url("/assets/images/hexellence.png");
font-family: 'Lato', sans-serif;

}



.projects-grid figure img{
    max-height: 250px;
}


.projects-grid figcaption {
    max-width: 250px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 6px 0;
    
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
   
    padding: 7% 0 8% 0;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
     .projects-grid {
    grid-template-columns: 1fr;
  }
  }








@media only screen and (max-width: 550px) {
   
    .contact-links {
        display: flex;
      flex-direction: column;
      line-height: 1.3em;
    }
} 
  

 #contact {
    font-family: 'Lato', sans-serif;
     padding: 6% 0;
     text-align: center;
     background-color: #000;
     color: #fff;
 }

.contact-links {
    display: flex;
    justify-content: space-evenly;
    padding: 7% 0 60px 0;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    
}

#contact a:link {
    color:#b48246;
}

#contact a:hover {
    color: #fff;
    transform: scaleY(1.3) scaleX(1.3);

}

 footer {
     text-align: center;
     font-family: 'Lato', sans-serif;
     background-color: #000;
     color: #fff;
     padding: .8rem;
 }

 footer p {
     padding: .5rem 0; 
     font-size: .9rem;
 }